MedicalPlatform/MedicalPlatformSoapClient/src/main/resources/wsdl/history.wsdl.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://springsoap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://springsoap" targetNamespace="http://springsoap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://springsoap">

    <xs:element name="patientHistoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="date" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="patientHistoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activities" type="tns:ArrayOfActivities"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="activity">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="duration" type="xs:float"/>
            <xs:element name="unusual" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfActivities">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="activity" nillable="true" type="tns:activity"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="patientHistoryRequest">
    <wsdl:part element="tns:patientHistoryRequest" name="patientHistoryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="patientHistoryResponse">
    <wsdl:part element="tns:patientHistoryResponse" name="patientHistoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HistoryPort">
    <wsdl:operation name="patientHistory">
      <wsdl:input message="tns:patientHistoryRequest" name="patientHistoryRequest">
    </wsdl:input>
      <wsdl:output message="tns:patientHistoryResponse" name="patientHistoryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HistoryPortSoap11" type="tns:HistoryPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="patientHistory">
      <soap:operation soapAction=""/>
      <wsdl:input name="patientHistoryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="patientHistoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HistoryPortService">
    <wsdl:port binding="tns:HistoryPortSoap11" name="HistoryPortSoap11">
      <soap:address location="http://localhost:8080/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>