MedicalPlatform/MedicalPlatformSoapClient/src/main/resources/wsdl/meds.wsdl.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://springsoap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://springsoap" targetNamespace="http://springsoap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://springsoap">

    <xs:complexType name="med">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="time" type="xs:string"/>
            <xs:element name="taken" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfMeds">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="med" nillable="true" type="tns:med"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="medRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="date" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="medResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="medications" type="tns:ArrayOfMeds"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="medResponse">
    <wsdl:part element="tns:medResponse" name="medResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="medRequest">
    <wsdl:part element="tns:medRequest" name="medRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MedsPort">
    <wsdl:operation name="med">
      <wsdl:input message="tns:medRequest" name="medRequest">
    </wsdl:input>
      <wsdl:output message="tns:medResponse" name="medResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MedsPortSoap11" type="tns:MedsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="med">
      <soap:operation soapAction=""/>
      <wsdl:input name="medRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="medResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedsPortService">
    <wsdl:port binding="tns:MedsPortSoap11" name="MedsPortSoap11">
      <soap:address location="http://localhost:8080/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>