MedicalPlatform/MedicalPlatformSoapClient/src/main/resources/wsdl/recommend.wsdl.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://springsoap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://springsoap" targetNamespace="http://springsoap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://springsoap">

    <xs:element name="recommendRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="recommendation" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="recommendResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="recommendRequest">
    <wsdl:part element="tns:recommendRequest" name="recommendRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recommendResponse">
    <wsdl:part element="tns:recommendResponse" name="recommendResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RecommendPort">
    <wsdl:operation name="recommend">
      <wsdl:input message="tns:recommendRequest" name="recommendRequest">
    </wsdl:input>
      <wsdl:output message="tns:recommendResponse" name="recommendResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecommendPortSoap11" type="tns:RecommendPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recommend">
      <soap:operation soapAction=""/>
      <wsdl:input name="recommendRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="recommendResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecommendPortService">
    <wsdl:port binding="tns:RecommendPortSoap11" name="RecommendPortSoap11">
      <soap:address location="http://localhost:8080/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>