MedicalPlatform/MedicalPlatform/src/main/resources/soap/dailymeds.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://springsoap"
           targetNamespace="http://springsoap" elementFormDefault="qualified">

    <xs:complexType name="med">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="time" type="xs:string"/>
            <xs:element name="taken" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfMeds">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="med" nillable="true" type="tns:med" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="medRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="date" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="medResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="medications" type="tns:ArrayOfMeds"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>


