MedicalPlatform/MedicalPlatform/src/main/resources/soap/history.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://springsoap"
           targetNamespace="http://springsoap" elementFormDefault="qualified">

    <xs:element name="patientHistoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="date" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="patientHistoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activities" type="tns:ArrayOfActivities"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="activity">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="duration" type="xs:float"/>
            <xs:element name="unusual" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfActivities">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="activity" nillable="true" type="tns:activity" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
